{% load humanize markup_tags %}
<header>
	<h1>
		{{ question.title }}
	</h1>
</header>

<section id="content">
	{{ question.content|apply_markup:'restructuredtext' }}
</section>
<section id="sample-input">
	<header>
		<h3>Sample Input</h3>
	</header>
	<section class="sample-content">
		{{ question.smp_input|default:'No input data.'|apply_markup:'restructuredtext' }}
	</section>
</section>
<section id="sample-output">
	<header>
		<h3>Sample output</h3>
	</header>
	<section class="sample-content">
		{{ question.smp_output|apply_markup:'restructuredtext' }}
	</section>
</section>

<hr>

<section id="submit-form">
	<header>
		<h3>Submit code</h3>
	</header>
	<section id="submit-content">
		<p>請上傳 <code>.cpp</code> 檔</p>
		<form role="form" method="POST"
			>
			<button type="file" class="btn btn-primary"
				data-ng-file-select
				data-ng-model="upload_file"
				accept="*.cpp"
				resetOnClick="true"
				id="upload-btn"
				>
				<span class="glyphicon glyphicon-open"></span>
			</button>
			<span id="file-name">
				[[ upload_file[0].name ]]
			</span>
			<input name="csrfmiddlewaretoken" id="csrfmiddlewaretoken_id" type="hidden"
			value="{{ csrf_token }}"
			data-ng-model="csrf_token"/>
		</form>
	</section>
</section>
<section id="result">
	<header>
		<h3>Result</h3>
	</header>
	<section class="content-indent">
		<p>
			[[ code.create_time ]]
		</p>
		<p>
			Status: [[ code.get_status ]]
		</p>
		<section>
			<header>
				<h4>Compiling Message</h4>
			</header>
			<pre>
[[ code.compile_msg ]]
			</pre>
		</section>
		<section>
			<header>
				<h4>Executing Message</h4>
			</header>
			<pre>
[[ code.exec_msg ]]
			</pre>
		</section>
	</section>
</section>
