/**********************************************
 *  judge-list
 **********************************************/
.judge-q-title {
	font-size: 1.5em;
}

/**********************************************
 *  judge detail
 **********************************************/
.sample-content,
#content,
#submit-content,
#result-list,
.content-indent {
	padding-left: 30px;
}
#file-name {
	margin-left: 20px;
	font-size: 1.3em;
}

/**********************************************
 *  result list
 **********************************************/
