
{% extends "center/base.html" %}

{% load static %}

{% block ng-app %}center{% endblock ng-app %}

{% block title %} Index {% endblock title %}

{% block head %}
	<link rel="stylesheet" href="{% static 'center/index.css' %}">
	<link rel="stylesheet" href="{% static 'judge/judge.css' %}">
{% endblock head %}

{% block main %}
	{% if not user.is_authenticated %}
		<a type="button" class="btn btn-default" href="{% url 'center:login' %}" id="fb-login-btn">
		</a>
	{% else %}
		<ng-view>
		</ng-view>
	{% endif %}

<script>
if (window.location.hash == '#_=_' || window.location.hash == '#') {
	window.location.hash = '';
}
var url = {
	judge:{
		list: "{% url 'judge:list' %}",
		detail: "{% url 'judge:detail' %}",
		result: "{% url 'judge:result' %}",
		upload: "{% url 'judge:upload' %}",
	}
}
</script>
<script src="{% static 'center/app.js' %}"></script>
{% endblock main %}
